@import '~bootstrap/dist/css/bootstrap.css';
@import "./framework.css";
@import "./fontawesome.min.css";
@import "./color.light.css";
@import "./table.css";

/*----------sidebar CSS----------*/

.modal-header .btn-close {
    margin: 0;
}

.sb-shadow {
    background-color: rgb(0 0 0 / 45%);
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    animation: antdDrawerFadeIn .3s cubic-bezier(.7, .3, .1, 1);
    cursor: pointer;
}

.sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    z-index: 1060;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.4s;
    background: #fff;
    box-shadow: 0 2px 13px 0 rgb(50 50 93 / 6%);
}

.sidebar::-webkit-scrollbar {
    width: 7px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #b1b1b1;
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.top-menu {
    display: none;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1055;
    padding: 16px;
    background: #fff;
    box-shadow: 0 2px 14px 0 rgb(50 50 93 / 20%);
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-row>h2 {
    margin-bottom: 0;
}

.header-row a {
    padding: 4px 12px;
}

.header-row a>i,
.top-menu a>i {
    color: inherit;
    margin-left: 2px;
    font-size: 16px;
}

.btn-close-menu i,
.top-menu i {
    font-size: 30px;
}

.btn-close-menu {
    display: none !important;
    position: absolute;
    top: 9.5px;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 8px 10px;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-button>i {
    font-size: 18px;
    color: #000;
}

.collapse:not(.show) {
    display: none !important;
}

.nav-group>.nav-link>i {
    transition: 0.15s;
    margin-right: 2px;
}

.nav-group>.nav-link:not(.collapsed)>i {
    color: #fff !important;
    transform: rotate(90deg);
}

.nav-group .items {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 6px;
    padding-left: 8px;
}

.nav-group .items>.nav-link,
.items>.nav-group>.nav-link {
    padding: 5px 8px;
}

.nav-group .items::before {
    content: '';
    height: 100%;
    width: 4px;
    border-radius: 10px;
    background: var(--theme-color);
    display: block;
    position: absolute;
    left: 0;
}

.bottom-sidebar a {
    margin-bottom: 0;
}

.user-info a {
    height: 48px;
}

.user-info a img {
    border-radius: 50%;
    width: 44px;
}

.user-info a span {
    font-size: 14px;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1200px) {

    .top-menu,
    .btn-close-menu {
        display: flex;
    }

    .header-row {
        display: none;
    }

    .balance-bg {
        width: 100% !important;
    }

    .user-info {
        align-items: flex-end;
    }

    .content {
        margin-right: 0;
    }
}

.nav-link:hover {
    background-color: #e5e5e5;
}

.nav-link.active,
.nav-group>.nav-link:not(.collapsed) {
    background-color: var(--theme-color);
}

.nav-link.active>.nav-button>i,
.nav-link.active>.nav-button>span,
.nav-group>.nav-link:not(.collapsed)>.nav-button>i,
.nav-group>.nav-link:not(.collapsed)>.nav-button>span {
    color: #fff !important;
}

@media (max-width: 768px) {

    .w-25,
    .w-50,
    .w-75 {
        width: 100% !important;
    }
}

/*----------end sidebar CSS----------*/