@import '~bootstrap/dist/css/bootstrap.css';
@import "./framework.css";
@import "./typography.css";

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}